@import "tailwindcss";

@theme {
  --color-blue: #1e293b; /* Custom blue color */
  --color-pink: #f472b6; /* Custom blue color */
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
